*.swp
*~
*.[0-9]
*.xls
*.pyc
forras*
plugin.*

plugin/**
!plugin/gen.sh
!plugin/gen-pluginDiak.py
!plugin/gen-pluginTantargy.py
!plugin/teszi-gen.sh
!plugin/teszi-extract.sh

tmp
jquery*.js
shortcut.js
pdf
html
old
taninform.ini
