
body {
	background-color: white;
	padding: .5em;
	border-left: 10px double #00688b;
/*	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif; */
	font-family: "Liberation";
	font-size: 95%;
}

@font-face {
	font-family: "Liberation";
/*   src: url("font/LiberationSans-Regular.ttf"); */
   src: url("font/LiberationSansNarrow-Regular.ttf");
}

div.body { padding: 0; }

p, h1, h2, h3, h4 { margin: 0; }
.page p { margin: 0; }

/*
.bg1 { background-color: rgba(100, 100, 100, .5); }
.bg2 { background-color: rgba(0, 255, 255, .2); }
.bg3 { background-color: rgba(255, 0, 255, .2); }
*/

/* 1-2. lap */
div.tmezo {
	height: 7mm;
	padding-left: 10mm;
	margin-top: 6mm;
}
input.ttext {
	border: none;
	border-bottom: 2px dashed #666;
	background-color: transparent;
	width: 82mm;
	height: 5mm;
	text-align: center;
}
div.center { text-align: center; padding: 0 3mm; }

p.mezo { position: absolute; font-size: 4.5mm; padding: 0 2mm; }

/* 3. lap */
table.jegy             { border-collapse: collapse; }
table.jegy tr          { background-color: inherit; font-size: 8pt; height: 5mm; width: 40mm; margin: 0; padding: 0; }
table.jegy tr td       { width: 38mm; margin: 0; padding: 0; padding-left: 2mm; }
table.jegy tr td+td    { width: 10mm; text-align: right; padding-left: 0; }
table.jegy tr td+td+td { width: 36mm; text-align: center; padding-left: 0; }
table.diff tr { margin: 0; padding: 0; }
table.bal tr, table.bal td { margin: 0; padding: 0; text-align: center; }
#nevsor option { padding: 0 .5em; }
#oszt { width: 6em; }

div.bal-gomb { float: left; text-align: center; }

/* általános */

div.page { float: left; margin: 2mm; margin-left: 8mm; position: relative; height: 190mm; }

p { margin: 0; }
input[type='checkbox'] { margin: 0; }

#spanDebug, #spanFrame { cursor: default; }

.menu {
	font-size: 12pt;
	color: #cccccc;
	background-color: #00688b;
	text-indent: 0; margin: 0;
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	font-weight: bold;
	padding: 2pt 4pt;
}
.menu span { padding: inherit; }
.menu a {
	color: #eeeeee;
	background-color: inherit;
	font-weight: inherit;
	cursor: pointer;
	padding: inherit;
}
.menu a:hover {
	text-decoration: underline overline;
}

.alahuzott { text-decoration: underline; font-weight: bold; }

.pselect { font-size: 150%; font-weight: bold; vertical-align: middle; }
.p { padding: .2em .3em; cursor: pointer; background-color: #dddddd; }
.p:hover { background-color: #bbbbbb; }

img.emil { vertical-align: bottom; }

/* A jobb tükör pozíciójánál az egész és a fél mm. */
input[name=diff].egesz { margin-right: 0; }
input[name=diff].fel { position: relative; top: 8px; margin-left: 0; }

